{%extends 'layout.html'%}
{%block body%}

{% with messages = get_flashed_messages() %}
    {%if messages%}
        {%for message in messages%}
            {{message}}
        {%endfor%}
    {%endif%}
{%endwith%}

<div class="row">
    <div class="col-md-5">
        <div class="card mt-5 text-center">
            <div class="card-header">
                <h3>Registro Especialidad</h3>
            </div>
            <div class="card-body">
                <form action="/new" method="post" id="form2" >
             
                    <div class="form-group">
                        <label ID="Label1">Ingrese nueva especialidad<label>
                        <input type="text" name="nombre" id="TextBox_Nombre" class="form-control" oninput="validarTexto(this)">
                    </div>

                    <button ID="Button_Registrar" OnClick="Button_Registrar_Click" class="btn btn-primary btn-block mt-4">Crear</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        {%for especialidad in especialidades%}
            <h4>{{especialidad.nombre}}</h4>
            <div class="buttons">
                <a href="{{url_for('contacts.update_contact',id=especialidad.id)}}">Modificar</a>
                <a href="{{url_for('contacts.delete_contact',id=especialidad.id)}}">Eliminar</a>
            </div>
        {%endfor%}
    </div>
</div>
{%endblock%}